---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$on-palm:          600px;
$on-laptop:        800px;

$xsmall: 576px; // 540px usable.
$small: 768px; // 720px usable.
$medium: 992px; // 960px usable.
$large: 1200px; // 1140px usable.

@mixin media-query-below($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin media-query-above($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "themes", "base", "layout", "syntax-highlighting";
