<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}<div id="system-selector">
      <span>Units:</span>
      <div class="dropdown">
        <span id="current-system">metric</span>
        <div class="options">
          <a href="#metric" system="metric">metric</a>
          <a href="#imperial" system="imperial">imperial</a>
        </div>
      </div>
    </div>
    <div id="theme-selector">
      <span>Theme:</span>
      <div class="dropdown">
        <span id="current-theme">default</span>
        <div class="options">
          <a href="#default" theme="default">default</a>
          <a href="#dark" theme="dark">dark</a>
        </div>
      </div>
    </div></h2>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="social-media-list">
          <li>
            <a href="mailto:{{ site.email }}">
              <span class="icon icon--email"><svg><use href="{{ "/assets/icons.svg#email" | prepend: site.baseurl }}"></use></svg></span><span class="username">{{ site.email }}</span>
            </a>
          </li>
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon icon--github"><svg><use href="{{ "/assets/icons.svg#github" | prepend: site.baseurl }}"></use></svg></span><span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon icon--twitter"><svg><use href="{{ "/assets/icons.svg#twitter" | prepend: site.baseurl }}"></use></svg></span><span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="footer-col">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
