<script src="{{ "/scripts/helpers.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/scripts/template-parser.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/scripts/theme-manager.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/scripts/unit-converter.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/scripts/timer-manager.js" | prepend: site.baseurl }}" type="text/javascript"></script>
