/* Site header */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: var(--text-color);
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query-max($on-xsmall) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: var(--background-color);
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

/* Site footer */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

/* Page content */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}

/* Recipes */
.recipe-header {
  margin-bottom: $spacing-unit;
}

.recipe-properties {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;

  li {
    align-self: center;
    width: 50%;
  }
}

.recipe-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}

.recipe-content {
  margin-bottom: $spacing-unit;

  .ingredients {
    > div {
      display: flex;

      .quantity {
        width: 100px;
      }

      .ingredient {
        flex: 1;
      }
    }
  }

  .instructions {
    flex: 1;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 20px;
  }

  .conversion {
    cursor: help;
    border-bottom: 1px solid orange;
  }

  .timer {
    cursor: help;
    border-bottom: 1px solid royalblue;
  }
}

/* Checkbox */
.checkbox {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  height: 1.5em;
  width: 1.5em;
  clear: both;

  span {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1.5em;
    width: 1.5em;
    background-color: transparent;
    border-radius: 2px;
    transition: all 0.1s ease-out;
    border: 2px solid var(--accent-color);

    &::after {
      position: absolute;
      content: "";
      left: 12px;
      top: 12px;
      height: 0px;
      width: 0px;
      border-radius: 2px;
      border: solid var(--accent-color);
      border-width: 0 3px 3px 0;
      transition: all 0.1s ease-out;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:checked ~ span {
      background-color: var(--background-color);

      &::after {
        position: absolute;
        content: "";
        transform: rotate(45deg);
        left: 8px;
        top: 3px;
        width: 6px;
        height: 12px;
        border-width: 0 2px 2px 0;
        background-color: transparent;
        border-radius: 0;
      }
    }
  }
}
