---
layout: main
---
<div class="recipe">
  <header class="recipe-header">
    <div class="wrapper">
      <h1 class="recipe-title">{{ page.title }}</h1>
      <div>
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by <a href="https://github.com/{{ page.author }}">
          <span class="icon icon--github"><svg><use href="{{ "/assets/icons.svg#github" | prepend: site.baseurl }}"></use></svg></span>
          <span class="username">{{ page.author }}</span>
        </a>{% endif %}
      </div>
      <div><span>Cook: {{ page.cookTime }}</span> | <span>Prep: {{ page.prepTime }}</span> | <span>Servings: {{ page.servings }}</span></div>
      <h3 class="recipe-description">{{ page.description }}</h3>
    </div>
  </header>
  <article class="recipe-content wrapper">
    <section class="ingredients">
      {% for ingredient in page.ingredients %}
        <div>
          <label class="checkbox">
            <input type="checkbox"/>
            <span class="checkmark"></span>
          </label>
          <a href="#quantity" class="quantity">{{ ingredient[1] }}</a>
          <span class="ingredient">{{ ingredient[0] }}</span>
        </div>
      {% endfor %}
    </section>
    <section class="instructions">
      {{ content }}
    </section>
  </article>
</div>
